/* 폰트 적용 */
@font-face{
    src: url("../fonts/BMHANNAAir_ttf.ttf");
    font-family: "hanna";
}
body {
    font-family: "hanna";
}

/* 탭 전체 스타일 */
.tabs {
    padding-bottom: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 75%;
    }
.tabs2 {

    width: 70%;
    height: 80%;
}


/* 탭 스타일 */
.tab_item {
    width: calc(100%/2);
    height: 50px;
    border-bottom: 3px solid #333333;
    background-color: #f8f8f8;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    display: block;
    float: left;
    font-weight: bold;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
    display: none;
}

/* 선택 된 탭 콘텐츠를 표시 */
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
    display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
    background-color: #333333;
    color: #fff;
}
/*Following 탭 스타일*/
#all_content {
    display: none;
}

/*Follower 탭 스타일*/
#programming_content{
    display: none;
}

/*Review 탭 스타일*/
#design_content{
    display: none;
}

#ex1 {
    position: absolute;
    border-radius: 10px;
    overflow: scroll;
}

#ex1::-webkit-scrollbar {
    display: none;
}

#ex1 .col {
    margin: 45px 0 0 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
